<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.jtb.quakealert" android:versionCode="17"
	android:versionName="1.1.12">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".ListQuakesActivity" android:label="@string/app_name"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".QuakeMapActivity" />
		<activity android:name=".PrefsActivity" />
		<receiver android:name=".NotificationClickReceiver"
			android:process=":receivers" />		
		<receiver android:name=".WakeLockReceiver" 
			android:process=":receivers" />		
		<receiver android:name=".QuakeRefreshReceiver"
			android:process=":receivers" />
		<service android:name=".QuakeRefreshService"/>
	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest> 